@model IEnumerable<ReportItemGroupByModel>

<div id="reportGroupBy">
    @if (Model != null && Model.Any())
    {
        <p class="text-primary">@Model.Count() record(s) found.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TagName)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.AverageScore)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AverageScore)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">No records found.</p>
    }
</div>